<p>profile works!</p>
<button (click)="navigateToDashboard()">Navigate to dashboard</button>
<div>
  @if (isFirebaseMessagignActive()) {
  <button (click)="unsubscribeFromMessages()" [disabled]="isLoading">
    Unsubscribe from messages
  </button>
  } @else {
  <button (click)="subscribeToMessages()" [disabled]="isLoading">
    Subscribe to messages
  </button>
  }
</div>
@if (currentUser) {
<div>
  <div>Name:</div>
  <div>{{ currentUser()?.displayName }}</div>
</div>
<div>
  <div>Email:</div>
  <div>{{ currentUser()?.email }}</div>
</div>
} @else {
<div>Error. User not found.</div>
}

<div>
  @if (userDetails) {
  <div>Receive messages?</div>
  <input
    type="checkbox"
    [checked]="userDetails.details.receiveMessages"
    (change)="inputChange($event)"
    [disabled]="isLoading"
  />
  } @else {
  <div>Loading details...</div>
  }
</div>

<button (click)="signOut()" [disabled]="isLoading">SignOut</button>
