<div
  class="min-h-screen flex flex-col justify-center items-center p-5 text-center text-on-surface sm:p-10"
>
  <mat-card class="w-full max-w-sm gap-4 rounded-md p-6">
    <mat-card-title class="mb-4 text-xl font-semibold text-on-surface"
      >Sign in</mat-card-title
    >
    <mat-card-subtitle class="mb-6 text-on-surface-variant"
      >Use your Google account to continue</mat-card-subtitle
    >

    <button
      mat-raised-button
      color="primary"
      (click)="signInWithGoogle()"
      [disabled]="isLoading"
      class="!bg-surface-container-high !text-on-surface hover:!bg-surface-container-highest"
    >
      <div class="w-full flex items-center justify-center gap-3">
        <!-- Google logo (inline SVG) -->
        <img
          src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          alt="Google Logo"
          class="h-5 w-5 block"
        />

        @if(isLoading) {
          <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
            color="primary"
            class="!inline-block !align-middle"
          ></mat-progress-spinner>
        }

        @if (!isLoading) {
          <span>Sign in with Google</span>
        }
      </div>
    </button>

    @if (errorMessage) {
      <mat-card-subtitle class="mb-6">
        <div class="text-error">{{ errorMessage }}</div>
      </mat-card-subtitle>
    }
  </mat-card>
</div>
