<div class="relative p-4 max-w-xl mx-auto text-gray-800">
  <div class="relative h-10 mb-10 flex justify-center items-center">
    <!-- Settings Icon Button (top-right corner) -->
    <div class="absolute right-4 z-10">
      <button
        mat-icon-button
        aria-label="Settings"
        (click)="navigateToProfile()"
        class="!flex text-gray-600 hover:text-blue-600"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <!-- Title -->
    <h1 class="text-2xl font-semibold text-center">Dashboard</h1>
  </div>

  <!-- Action Buttons -->
  <div class="flex flex-col sm:flex-row sm:justify-center gap-4 mb-6">
    <button
      mat-raised-button
      color="accent"
      (click)="sendMessage()"
      [disabled]="isLoading"
      class="w-full sm:w-auto flex items-center justify-center gap-2"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        diameter="20"
        mode="indeterminate"
        color="warn"
        class="!inline-block !align-middle"
      ></mat-progress-spinner>
      <span>{{ isLoading ? "Sending..." : "Send Notification" }}</span>
    </button>
  </div>

  <!-- Latest Message Display -->
  <mat-card class="bg-white shadow-md p-4 rounded-xl">
    <h2 class="text-lg font-medium mb-2">Latest Message:</h2>

    @if (firebaseMessagesSignal()) {
    <pre
      class="bg-gray-100 p-3 rounded text-sm overflow-auto whitespace-pre-wrap"
      >{{ firebaseMessagesSignal() | json }}
      </pre
    >
    } @else {
    <div class="text-gray-500">None</div>
    }
  </mat-card>
</div>
